// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@500&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;500&family=Noto+Serif:wght@300&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Ysabeau+Infant:wght@200;300&display=swap')

// -- Global --

.container 
  position: absolute 
  top: 51%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
  z-index: 100

.background
  background: var(--color-second)
  width: 381px
  height: 841px
  border-radius: 50px

// -- Block --

.inner 
  padding: 0 40px 0 40px

.text
  margin-top: 41px
  margin-bottom: 45px
  h1
    color: var(--color-white)
    font-family: Asap
    font-size: 27px
    font-style: normal
    font-weight: 600
    line-height: normal
    margin-bottom: 25px
    margin-left: -6px
  p
    color: var(--color-white)
    font-family: Asap
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: normal
    margin-bottom: 25px
  h5
    color: var(--color-white)
    font-family: Asap
    font-size: 20px
    font-style: normal
    font-weight: 600
    line-height: normal
    margin-bottom: 25px
  h3
    color: rgba(255, 255, 255, 0.30)
    font-family: Asap
    font-size: 18px
    font-style: normal
    font-weight: 500
    line-height: normal
  a
    text-decoration: none
    color: var(--color-white)
    font-family: Asap
    font-size: 18px
    font-style: normal
    font-weight: 500
    line-height: normal
    cursor: pointer

.forget
  margin-top: 45px
  a
    text-decoration: none
    color: var(--color-primary)
    font-family: Asap
    font-size: 20px
    font-style: normal
    font-weight: 500
    line-height: normal

.contact
  margin-top: 293px